:root {
    --bg-color: rgb(253, 253, 253);
    --text-color: rgb(31, 31, 31);
    --accent: #3685d8;
    --dark-accent: #014792;
    --gray: #A6A6A6;
    --light-gray: #cecece;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* 32px on smaller screens */
    }
    h2 {
        font-size: 1.5rem; /* 24px on smaller screens */
    }
}
html {
    font-size: 16px; /* Base font size */
}
body {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    font-family: "Noto Sans",sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    min-height: 100vh;
    width: 70%;
    flex-direction: column; 
    padding: 55px;
    color: var(--text-color);
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 1.8rem;
}
p {
    opacity: 0.95;
    font-size: 1rem;
}
/* form label p {
    opacity: 0.95;
} */

button:disabled,
button[disabled]{
  background-color: var(--light-gray);
  color: var(--gray);
}
button[disabled]:hover {
    background-color: var(--light-gray);
}
.page-title {
    margin-bottom: 30px;
}
.instructions span {
    padding-right: 7px;
}
.container {
    margin-top: 10px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputBox {
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-bottom: 3px solid var(--accent);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    height: 300px;
    vertical-align: top;
    resize: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow:scroll;
}

.inputBox:focus {
    border-color: var(--dark-accent);
}

.next-button {
    text-align: right;
}
.nav-buttons {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    background-color: var(--accent);
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 30px;
}

.submit-button:hover {
    background-color: var(--dark-accent);
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}
.popup-content p {
    padding: 0 50px;
}
.popup-content a {
    color: var(--accent);
    text-decoration: underline; 
}
.close-button {
    color: black;
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 5vh;
    padding: 0 13px;
    opacity: 0.7;
    transition: opacity 100ms ease-in-out;
}
.close-button:hover {
    opacity: 1
}
.back-button {
    background-color: var(--gray);
}
.back-button:hover {
    background-color: #777777;
}

.suggestionText {
    color: var(--gray);
}
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block; 
    color: var(--gray);
}
#session-button:disabled {
   cursor: not-allowed;
   background-color: #C0C0C0;
}

/* Consent form */
#consent-content a {
    color: var(--dark-accent);
    text-decoration: underline;
}
#consent-radio {
    margin-top: 30px;
}
#consent-form input,
.likert input {
    margin-right: 10px;
}

/* Demographic questionnaire */
#demographics-form select {
    border: var(--gray) 1px solid;
    padding: 3px 5px;
    margin-top: 10px;
    border-radius: 3px;
}
#demographics-form .question,
#post-survey-form .question {
    margin-bottom: 30px;
}

/* Survey */
#survey-container, #text-container {
    margin: 20px 0;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="number"] {
    display: block;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.loadingMsg {
    height: 3vh;
    margin-top: 20px;
    color: var(--dark-accent);
    font-style: italic;
}

/* Likert scale */
.likerts {
    margin-top: 10px;
}
.likert-container {
    margin: 10px 0 25px 0;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 13px 20px;
}
.likert-labels,
.likert {
    display: flex;
    justify-content: space-between;
}

.likert-labels p {
    font-size: 0.9em;
}

.sub-question {
    font-size: 0.94em;
    opacity: 0.9;
}
.bold {
    font-weight: 600;
}

.instr-vid {
    margin-top: 20px;
}

#options { 
    text-decoration: underline;
    color: var(--dark-accent);
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#testbox {
    padding-top: 50px;
}